.floe-article__content { max-width: 900px; margin-bottom: 32px; font-size: 1.25rem; line-height: 1.6; }
.floe-article__content > :first-child { margin-top: 0; }
.floe-article__content > :last-child { margin-bottom: 0; }
.floe-article__content h2, .floe-article__content h3 { line-height: 1.2; }
.floe-article__content img, .floe-article__content video { max-width: 100%; height: auto; }
.floe-article.floe-surface--accent .floe-button { background: #fff; color: var(--floe-accent); }
